/* A Modern CSS Reset */
*,*::before,*::after{box-sizing:border-box}ul[class],ol[class]{padding:0}body,h1,h2,h3,h4,p,ul[class],ol[class],figure,blockquote,dl,dd{margin:0}body{min-height:100vh;scroll-behavior:smooth;text-rendering:optimizeSpeed;line-height:1.5}ul[class],ol[class]{list-style:none}a:not([class]){text-decoration-skip-ink:auto}img{max-width:100%;display:block}article>*+*{margin-top:1em}input,button,textarea,select{font:inherit}img:not([alt]){filter:blur(10px)}@media(prefers-reduced-motion:reduce){*{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

html {
    background: #29303b;
    font-family: 'Avenir', Helvetica, Arial, 'system-ui', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    width: 100%;
    height: 100%;
    overflow-x: scroll;
}
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

main {
    padding: 0 10px 10px;
    position: relative;
    top: 70px;
    height: 100%;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    user-select: none;
}

.info-line {
    color: #46c28e;
    margin: 10px 20px;
    font-size: 20px;
    font-weight: 700;
}

.list-index {
    display: flex;
    height: 100%;
}
.ps{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.list {
    margin: 0 5px auto;
    position: relative;
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
    min-width: 290px;
    max-height: 100%;
    width: 290px;
    background-color: #ebecf0;
    border-radius: 8px;
    padding: 10px;
    border: solid #ddd 1px;
    color: #172b4d;
    vertical-align: top;
}

.listheader {
    width: 290px;
    display: inline-flex;
    justify-content: space-between;
}
.list-cards {
    max-height: 500px;
}

.list-title {
    color: #172b4d;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.list-counter {
    color: #172b4d;
    margin: 0;
    margin-bottom: 10px;
    padding: 25px 30px 0 0;
}

.deletelist {
    position: absolute;
    top: 3px;
    right: 14px;
    font-size: 28px;
    font-weight: 700;
}

.deletelist:hover {
    opacity: 0.8;
    cursor: pointer;
}

.addlist {
    margin: 0 10px auto;
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;
    min-width: 290px;
    width: 290px;
}
.addcard {
    position: relative;
}

.addcard .text-input {
    padding: 5px 15px;
    width: calc(100% - 30px);
    background-color: #ebecf0;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-family: "Noto Sans Japanese", "Noto Sans", 'system-ui', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #242424;
    cursor: pointer;
    overflow: overlay;
}
.addcard .text-input:hover {
    background-color: rgba(9,30,66,.08);
    color: #172b4d;
}
.addlist .text-input {
    padding: 20px 15px;
    width: calc(100% - 30px);
    background-color: #ebecf0;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    font-family: "Noto Sans Japanese", "Noto Sans", 'system-ui', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #242424;
    cursor: pointer;
    overflow: overlay;
}

.text-input:focus {
    outline: 0;
    cursor: initial;
}
.addcard .text-input:focus {
    padding: 15px;
}

.add-button {
    margin-top: 10px;
    padding: 10px 30px;
    float: left;
    background-color: #999;
    border: none;
    border-radius: 8px;
    font-family: "Noto Sans Japanese", "Noto Sans", 'system-ui', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.add-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.active .text-input {
    background-color: #fff;
}
.addable .add-button {
    background-color: #46c28e;
    pointer-events: auto;
    cursor: pointer;
}

.add-button:active {
    background-color: #46c28e;
}
.card {
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    padding: 15px;
    background-color: #fff;
    border-radius: 8px;
    max-width: 270px;
    cursor: pointer;
}
.card:hover {
    background-color: #e0e1e5;
}
.card.sortable-chosen {
    cursor: grab;
}

.close-button {
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 22px;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-color: #172b4d;
    border-style: solid;
    background-color: #172b4d;
    color: white;
    margin: 5px;
}

.body {
    width: 100%;
    word-wrap: break-word;
}